body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

.craft img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 5px;
    padding: 10px;
}

#craft-details-column {
    padding: 10px;
    margin: 10px;
    background: lightblue;
    border-radius: 5px;
}

#add-button {
    font-size: 0.8em;
    color: black;
    border: 2px solid black;
    padding: 0 4px;
}

#edit-button {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

#delete-button {
    float: right;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.w3-modal-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 40%;
    border: 2px solid #401e01;
  }
  
  .w3-container {
    background: #f2e8dc;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  label {
    display: block;
  }

  .inline {
    display: inline;
  }

  #supplies-p input {
    margin-top: 5px;
  }

  #add-supplies {
    color: blue;
    font-size: 0.75em;
    text-align: right;
  }

  #supplies-boxes input {
    width: 100%;
  }


  #img-prev-section {
    width: 60px;
    border: 1px solid #401e01;
    max-width: 100px;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 20px;
    
  }
  #img-prev {
    padding: 2.5%;
    display: block;
    margin: auto;
    max-width: 80%;
  }

  .craft-inner {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .details {
    margin-left: 20px;
    flex: 1;
    width: calc(100% - 120px);
    box-sizing: border-box;
    padding: 20px;
  }
  

  /* Typography */

#main-nav-items {
    font-size: 1.2em;
  }
  h1 {
    text-align: left;
    color: #401e01;
  }
  
  a {
    text-decoration: none;
    color: crimson;
  }
  
  .hidden {
    display: none;
  }
  
  /* Larger Resolutions */
  
  @media (min-width: 600px) {
    .columns {
      display: flex;
      flex-wrap: wrap;
    }
    .two-columns div {
      flex: 1;
    }
    .craft {
        width: 15%;
    }
    #craft-list {
        justify-content: center;
    }


}

